/*  your css code here. If applicable */
.middle{
	border:1px solid black;
	border:double;
	border-collapse: collapse;
	text-align:center;
	width: 100%;
}
.center{
	border:1px solid black;
	border-collapse: 3collapse;
	border:double;
	width: 100%;
	padding:1px;
}